* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: ghostwhite;
}

#input-container {
  width: 100vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

input {
}
